h1, h2, h3{
    font-family: "Droid Sans", serif;
}

input[type=text], input[type=submit], input[type=file]{
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;

}

textarea{
    width: 100%;
    height: 170px;
    text-align: center;
    justify-content: center;
}

img{
 width: 200px;
    height: 200px;
}

.centerItem {
    text-align: center;
}

.confirmationMessage {
    font-family: "Droid Sans", serif;
}

.fullpage {
    height: 100vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}