input[type=text], input[type=submit], input[type=file]{
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;

}

textarea{
    width: 100%;
    height: 170px;
    text-align: center;
    justify-content: center;
}



.centerItem {
    text-align: center;
}

.confirmationMessage {
    font-family: "Droid Sans", serif;
}

.fullpage {
    height: 90vh;
}

.my-con {
    border: 2px solid red;
}

.my-row {
    border: 2px solid blue;
}

.my-col {
    border: 2px solid green;
}

.img-responsive { width:100%; }

td, th {
    text-align: left;
}

/*.pruef-img{*/
/*    width: 300px;*/
/*}*/