input[type=text], input[type=submit], input[type=file]{
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;

}

textarea{
    width: 100%;
    height: 170px;
    text-align: center;
    justify-content: center;
}

img{
 width: 200px;
    height: 200px;
}

.centerItem {
    text-align: center;
}

.confirmationMessage {
    font-family: "Droid Sans", serif;
}

.fullpage {
    height: 100vh;
}