<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Präsentation</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/stil.css">
</head>
<body>
<div class="container">
    <div class="form-row justify-content-center align-items-center">
        <div class="form-group col-auto">
            <div class="centerItem"><img src="../img/EasyIdentLogo.png" height="150" width="150"
                                         alt="Indent"/></div>
            <br>
        </div>
    </div>
</div>


<div class="container">

    <form th:action="@{/ueberarbeiteteDaten}"
          th:object="${neueDokumentDaten}" method="post">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bearbeitung_vorname">Vorname</label>
                <input th:field="*{vorname}" type="text" class="form-control" id="bearbeitung_vorname"
                       th:placeholder="*{vorname}">
            </div>
            <div class="form-group col-md-6">
                <label for="bearbeitung_nachname">Nachname</label>
                <input th:field="*{nachname}" type="text" class="form-control" id="bearbeitung_nachname"
                       th:placeholder="*{nachname}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bearbeitung_strasse">Straße</label>
                <input th:field="*{strasse}" type="text" class="form-control" id="bearbeitung_strasse"
                       th:placeholder="*{strasse}">
            </div>
            <div class="form-group col-md-6">
                <label for="bearbeitung_hausnummer">Hausnummer</label>
                <input th:field="*{hausNr}" type="text" class="form-control" id="bearbeitung_hausnummer"
                       th:placeholder="*{hausNr}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bearbeitung_stadt">Stadt</label>
                <input th:field="*{stadt}" type="text" class="form-control" id="bearbeitung_stadt"
                       th:placeholder="*{stadt}">
            </div>
            <div class="form-group col-md-6">
                <label for="bearbeitung_plz">PLZ</label>
                <input th:field="*{plz}" type="text" class="form-control" id="bearbeitung_plz" th:placeholder="*{plz}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bearbeitung_geburtsdatum">Geburtsdatum</label>
                <input th:field="*{geburtsDatum}" type="text" class="form-control" id="bearbeitung_geburtsdatum"
                       th:placeholder="*{geburtsDatum}">
            </div>
            <div class="form-group col-md-6">
                <label for="bearbeitung_geburtsort">Geburtsort</label>
                <input th:field="*{geburtsOrt}" type="text" class="form-control" id="bearbeitung_geburtsort"
                       th:placeholder="*{geburtsOrt}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bearbeitung_staatsangehoerigkeit">Staatsangehörigkeit</label>
                <input th:field="*{staatsangehoerigkeit}" type="text" class="form-control"
                       id="bearbeitung_staatsangehoerigkeit" th:placeholder="*{staatsangehoerigkeit}">
            </div>
            <div class="form-group col-md-6">
                <label for="bearbeitung_ausweisID">AusweisID</label>
                <input th:field="*{ausweisId}" type="text" class="form-control" id="bearbeitung_ausweisID"
                       th:placeholder="*{ausweisId}">
            </div>
        </div>
        <button type="submit" class="btn btn-warning" id="bearbeitung_bestaetigen">Änderungen bestätigen</button>
    </form>
</div>



<div class="container">
    <hr/>
    <footer class="footer">

        <div class="row justify-content-center align-items-center">
            <a href="startseite.html">Impressum</a>
        </div>
        <div class="row justify-content-center align-items-center">
            <p>Copyright © 2019 EasyIdent</p>
        </div>
    </footer>
</div>
</body>
</html>