<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prüfung</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="../css/stil.css">

</head>
<body>

<div class="container">
    <div class="form-row justify-content-center align-items-center">
        <div class="form-group col-auto">
            <div class="centerItem"><img src="../img/EasyIdentLogo.png" height="150" width="150"
                                         alt="Indent"/></div>
        </div>
    </div>
</div>
<div class="container centerItem">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-5" >
            <img class="img-responsive" th:alt="${fileName2}" th:src="@{${targetFileName2}}" />
            <img class="img-responsive" th:alt="${fileName}" th:src="@{${targetFileName}}" />
        </div>
        <div class="col-lg-5">
            <table class="table">
                <tr>
                    <th>Felder</th>
                    <th>Eingaben</th>
                </tr>
                <tr>
                    <td>Vorname</td>
                    <td th:text="*{neueDokumentDaten.vorname}"></td>
                </tr>
                <tr>
                    <td>Nachname</td>
                    <td th:text="*{neueDokumentDaten.nachname}"></td>
                </tr>
                <tr>
                    <td>Straße</td>
                    <td th:text="*{neueDokumentDaten.strasse}"></td>
                </tr>
                <tr>
                    <td>Hausnummer</td>
                    <td th:text="*{neueDokumentDaten.hausNr}"></td>
                </tr>
                <tr>
                    <td>PLZ</td>
                    <td th:text="*{neueDokumentDaten.plz}"></td>
                </tr>
                <tr>
                    <td>Stadt</td>
                    <td th:text="*{neueDokumentDaten.stadt}"></td>
                </tr>
                <tr>
                    <td>Geburtsdatum</td>
                    <td th:text="*{neueDokumentDaten.geburtsDatum}"></td>
                </tr>
                <tr>
                    <td>Geburtsort</td>
                    <td th:text="*{neueDokumentDaten.geburtsOrt}"></td>
                </tr>
                <tr>
                    <td>Staatsangehörigkeit</td>
                    <td th:text="*{neueDokumentDaten.staatsangehoerigkeit}"></td>
                </tr>
                <tr>
                    <td>Ausweis-ID</td>
                    <td th:text="*{neueDokumentDaten.ausweisId}"></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <a th:href="@{/ergebnisAnzeigen}">
                <button id="pruefung_datenBestaetigen" class="btn btn-success">Daten bestätigen</button>
            </a>
            <a th:href="@{/datenBearbeiten}">
                <button id="pruefung_datenBearbeiten" class="btn btn-danger">Daten ändern</button>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <hr/>
    <footer class="footer">

        <div class="row justify-content-center align-items-center">
            <a href="startseite.html">Impressum</a>
        </div>
        <div class="row justify-content-center align-items-center">
            <p>Copyright © 2019 EasyIdent</p>
        </div>
    </footer>
</div>
</body>
</html>