<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/stil.css">

</head>
<body>
<div class="container">
    <div class="form-row justify-content-center align-items-center">
        <div class="form-group col-auto">
            <div class="centerItem"><img src="../img/EasyIdentLogo.png" height="150" width="150"
                                         alt="Indent"/></div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="texteingabeformular">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne" id="startseite_toggleTextInput">
                        Datenübergabe via Texteingabe
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form th:action="@{/datenUebergabe}"
                          th:object="${neueDokumentDaten}" method="post">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="startseite_vorname">Vorname</label>
                                <input th:field="*{vorname}" type="text" class="form-control" placeholder="Max"
                                       id="startseite_vorname">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="startseite_nachname">Nachname</label>
                                <input th:field="*{nachname}" type="text" class="form-control" placeholder="Mustermann"
                                       id="startseite_nachname">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="startseite_strasse">Straße</label>
                                <input th:field="*{strasse}" type="text" class="form-control" placeholder="Hauptstraße"
                                       id="startseite_strasse">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="startseite_hausnummer">Hausnummer</label>
                                <input th:field="*{hausNr}" type="text" class="form-control" placeholder="123"
                                       id="startseite_hausnummer">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="startseite_stadt">Stadt</label>
                                <input th:field="*{stadt}" type="text" class="form-control" placeholder="Musterstadt"
                                       id="startseite_stadt">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="startseite_plz">PLZ</label>
                                <input th:field="*{plz}" type="text" class="form-control"  placeholder="12345"
                                       id="startseite_plz">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="startseite_geburtsdatum">Geburtsdatum</label>
                                <input th:field="*{geburtsDatum}" type="text" class="form-control"
                                       placeholder="24.12.1950" id="startseite_geburtsdatum">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="startseite_geburtsort">Geburtsort</label>
                                <input th:field="*{geburtsOrt}" type="text" class="form-control"
                                       placeholder="Musterdorf" id="startseite_geburtsort">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="startseite_staatsangehoerigkeit">Staatsangehörigkeit</label>
                                <input th:field="*{staatsangehoerigkeit}" type="text" class="form-control"
                                        placeholder="Deutschland" id="startseite_staatsangehoerigkeit">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="startseite_ausweisID">AusweisID</label>
                                <input th:field="*{ausweisId}" type="text" class="form-control" placeholder="T123456789"
                                       id="startseite_ausweisID">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="startseite_echtheitsMerkmal">Echtheitsmerkmal</label>
                                <input th:field="*{echtheitsMerkmal}" type="text" class="form-control"
                                       placeholder="Personalausweis" id="startseite_echtheitsMerkmal">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning" id="startseite_submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo" id="startseite_InputOCR">
                        Datenübergabe via Scan/Bild des Dokuments
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <form th:action="@{/fileUpload}"
                          th:object="${tessImage}" method="post" enctype="multipart/form-data">
                        Vorderseite:
                        <input th:field="*{frontImage}" type="file" name="tessPicture" id="startseite_file_vorn"/>
                        Rückseite:
                        <input th:field="*{backImage}" type="file" name="tessPicture" id="startseite_file_hinten"/>
                        <button type="submit" class="btn btn-warning" id="startseite_tessInput">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr/>
    <footer class="footer">

        <div class="row justify-content-center align-items-center">
            <a href="startseite.html">Impressum</a>
        </div>
        <div class="row justify-content-center align-items-center">
            <p>Copyright © 2019 EasyIdent</p>
        </div>
    </footer>
</div>
</body>
</html>



