<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/stil.css">

</head>
<body>
<div class="container">
    <div class="form-row justify-content-center align-items-center">
        <div class="form-group col-auto">
            <div class="centerItem"><img src="../static/img/EasyIdentLogo.png" height="150" width="150"
                                         alt="Indent"/></div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="texteingabeformular">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                        Datenübergabe via Texteingabe
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form th:action="@{/datenUebergabe}"
                          th:object="${neueDokumentDaten}" method="post">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="vorname">Vorname</label>
                                <input th:field="*{vorname}" type="text" class="form-control" id="vorname"
                                       placeholder="Max">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nachname">Nachname</label>
                                <input th:field="*{nachname}" type="text" class="form-control" id="nachname"
                                       placeholder="Mustermann">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="strasse">Straße</label>
                                <input th:field="*{strasse}" type="text" class="form-control" id="strasse"
                                       placeholder="Hauptstraße">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="hausnummer">Hausnummer</label>
                                <input th:field="*{hausNr}" type="text" class="form-control" id="hausnummer"
                                       placeholder="123">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="stadt">Stadt</label>
                                <input th:field="*{stadt}" type="text" class="form-control" id="stadt"
                                       placeholder="Musterstadt">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="plz">PLZ</label>
                                <input th:field="*{plz}" type="text" class="form-control" id="plz" placeholder="12345">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="geburtsdatum">Geburtsdatum</label>
                                <input th:field="*{geburtsDatum}" type="text" class="form-control" id="geburtsdatum"
                                       placeholder="24.12.1950">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="geburtsort">Geburtsort</label>
                                <input th:field="*{geburtsOrt}" type="text" class="form-control" id="geburtsort"
                                       placeholder="Musterdorf">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="staatsangehoerigkeit">Staatsangehörigkeit</label>
                                <input th:field="*{staatsangehoerigkeit}" type="text" class="form-control"
                                       id="staatsangehoerigkeit" placeholder="Deutschland">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="ausweisID">AusweisID</label>
                                <input th:field="*{ausweisId}" type="text" class="form-control" id="ausweisID"
                                       placeholder="T123456789">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="echtheitsMerkmal">Echtheitsmerkmal</label>
                                <input th:field="*{echtheitsMerkmal}" type="text" class="form-control"
                                       id="echtheitsMerkmal" placeholder="Personalausweis">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        Datenübergabe via Scan/Bild des Dokuments
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Hier kommt die Implementierung via Tesseract.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr/>
    <footer class="footer">

        <div class="row justify-content-center align-items-center">
            <a href="startseite.html">Impressum</a>
        </div>
        <div class="row justify-content-center align-items-center">
            <p>Copyright © 2019 EasyIdent</p>
        </div>
    </footer>
</div>
</body>
</html>



